:root{
    --spacing: 1.5rem;
    --link-dark-color: rgb(0,83,134);
    --clr-white : rgb(245,245,255);
    --clr-black: rgb(0,0,30);
    --clr-light-gray : rgb(230,230,245);
    --clr-dark-shadow-5 : rgba(0,0,10,5%);
    --clr-dark-shadow-10 : rgba(0,0,10,10%);
    --clr-dark-shadow-20 : rgba(0,0,10,20%);
    --clr-light-shadow-5 : rgba(200,200,255,5%);
    --clr-light-shadow-5 : rgba(200,200,255,10%);
    --clr-light-shadow-5 : rgba(200,200,255,20%);
    --main-page-with : 120rem;
    --table-min-with : 60rem;
    --biggest-font-size : 5rem;
    --bigger-font-size : 4rem;
    --big-font-size:3.2rem;
    --medium-font-size:2.4rem;
    --small-font-size:1.6rem;
    --smaller-font-size:1.4rem;
    --smallest-font-size:1.2ms;
    --transition-fast:300ms;
    --transition-medium:600ms;
    --transition-slow:1s;
    --default-border-radius:4px;
}